services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - api
    networks:
      - webnet
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fedal-api-r2d2
    command: uv run uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app   # only sync your source code
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - webnet


networks:
  webnet:
    driver: bridge